/*BOX-SIZING MODEL TO BORDER*/
*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	text-align: center;
	font-family: 'Hind', sans-serif;
}

body{
	margin: 0;
}

header {
	color: #ffff;
  	padding: 1rem auto .5rem auto;
  	position: fixed;
  	width: 100%;
  	background-color: #9d00d0;
}
nav{
	/*! background-color: #ffff; */
	padding: 0 .65rem;
}

.flex-column { 
	display: flex;
	flex-direction: column;
}

.flex-row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content:space-between;
}

li {
	color: #cd7ce7;
	font-size: 1.15rem;
	padding: .25rem 1rem;
	/*background-color: red; */
/*	margin: .25rem;
*/	border-right: 1px solid #cd7ce7;
	list-style-type: none;
}
li a{
	color:#ffff;
}

/*#main-menu {
	display: inline;
	float: left;
}*/

.search-bar {
	max-width: 140px;
	margin-right: 3rem;
	height: 2.35rem;
	-webkit-appearance: none;
	border: 1px solid #cd7ce7;
	border-radius: 2px;
	background-image: url(assets/search-icon.png);
	background-position: right;
	background-repeat:no-repeat;
	display: inline;
	text-align: right;
	margin-left: .25rem;
	padding: .5rem;
	background-color:#FFFFFF26;
}


#description-container{
	padding: 8rem 8.5rem 5rem 8.5rem;
	background-image: url('assets/niña-mirada-fija-background.jpg');
	height: auto;
  	/* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	/*End of center image */
  	color: #ffff;
}

#logo-banco-mundial {
	margin: 0.5rem 0 0 3rem;
	max-width: 250px !important;
	
}

#reload-from-logo{
	cursor: pointer;
}


#choose-data-inner {
	color: #ffff;
	background-image: url('assets/mujer-latinoamericana-sombrero-vendedora.jpg');
	height: auto;
  	/* Center and scale the image nicely */
  	background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding: 3rem;
}

.credits {
	padding: 7rem 1rem 3rem 1rem;
}

.credits p {
	font-size: 1.35rem;
	color: #626262;

}


.credits-logos{
	height: 100%
	display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center; 
	height: 8rem;
	font-weight: 200;
	margin-bottom: 3rem;
}

.credits-logos img {
	margin: 1.25rem;
	max-width: 180px;
	display: inline-block;

}

section label{
	display: inline-block; 
	margin: 2rem auto;
}

.label-title {
	margin-bottom: -3rem;
}

section option {
	max-width: 600px;
}


h1 {
	margin: 0 auto 9rem auto;
	font-size: 2.85rem;
	font-weight: 600;
	color: #ffff;
	/*text-shadow: 3px -3px 12px #000000;*/
}

h2 {
	font-size: 1.75rem;
	font-weight: 400;
}

h3 {
	font-size: 1.35rem;
	font-weight: 400;
	margin-bottom: -1.75rem;

}

p, label {
	font-size: 1.15rem;
	font-weight: 300;
	/*color: #ffff;*/
}
p strong {
	font-weight: 500;
}
#description-container a {
	color: #ffff;
	border-bottom: 1px solid #cd7ce7;
	padding-bottom: 0 !important;
	text-decoration: none;
}

a {
	color: #cd7ce7;
	text-decoration: none;
}

#description-container a:hover, a:hover {
	color: #f999f3;
}

header h2 {
	color: #ffff;
	position: fixed;
}


select {
	-webkit-appearance: none;
	background-color: #ffff;
	background: url(assets/select-arrow.png) no-repeat right #ddd;
	border-radius: 2px;
	border: none;
	font-size: 1.05rem;
	font-weight: 200;
	padding: .5rem 3.5rem .5rem .65rem;
	text-align: left;
}

.button-purple {
	background-color: #9d00d0;
	border-radius: 2px;
	border: none;
	color: #ffff;
	cursor: pointer;
	font-size: 1.35rem;
	font-weight: 500;
	margin: 1.5rem auto;
	padding: .35rem 1rem;
	text-align: center;
	width: 190px;
}

.button-purple:hover {
	background-color: #f78cbe;
	box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
	transform: translateY(-0.35rem);
	transition: 0.45s;
}


#results {
	padding: 3rem;
	text-align: left;
}

#results h2 {
	text-align: left;
}


footer {
	color: #ffff;
  	height: 100%;
  	padding: 6rem 8rem 0.5rem 8rem;
	background-color: #242424;
	width: 100%;
	margin: 0;
}

footer p {
	font-size: .85rem;
}
#menu-mobile {
	display: none;
	color: #ffff;
	position: fixed;
	width: 100%;
	background-color: #9d00d0;
	bottom: 0%;
	max-height: 3rem;
}

#menu-mobile nav{
	padding: 0;
}

#menu-mobile ul{
	display: flex;
	flex-direction: row;
/*	align-items: center;
*/	justify-content:space-around;
/*	justify-content: center;	
*/	padding: .5rem 1rem;
	margin: auto;
}

#menu-mobile li{
	display: inline;
	text-align: center;
	padding: 0 1rem;
	margin: auto;
	border: 0;
}

#menu-mobile li.last{
	border: 0;
}

#menu-mobile img {
	max-height: 2rem;
}

#reload-from-mobile-menu{
	cursor: pointer;
}


/* For mobile phones: */
@media only screen and (max-width: 768px) {
	#menu-mobile {
	display: block;
}
	
	nav #main-menu {
		display: none !important;
	}

	#logo-banco-mundial {
		max-width: 180px;
		margin: .75rem auto;
		text-align: center;
		display: block;
	}
	
	h1{
		text-align: center;
		padding: 0;
		margin:auto;
		font-size: 2.25rem;
	}
	h2{
		font-size: 1.55rem;
	}

	section option {
		max-width: 300px;
	}

	header {
		height: 100%
		padding: 1rem !important;
		position: absolute;
	}


	header p{
		padding-left: .5rem;
		padding-right: .5rem;
	}

	#description-container{
		padding: 6rem .5rem .5rem 0;
	}

	section label{
		display: block;
		margin: 1.2rem auto;
	}

	.credits-logos {
		display: block;
		height: 100%;
	}	

	footer {
		padding: 1.5rem 1rem 3rem 1rem;
	}

	.flex-column, .flex-row{
		display: block;
	}

}


